.clean-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.flex {
    display: flex;    
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.bold{
    font-weight: bold;
}