.main-layout {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 115px 1fr 115px;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

}

.main-layout2 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }
}