.stay-list-conainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, auto));
    column-gap: 17px;
    row-gap: 17px;
    padding-top: 16px;
}
.explore-btns {
    display: flex;
    align-items: center;

    .explore-btn {
        height: 38px;
        cursor: pointer !important;
        border: 1px solid rgb(221, 221, 221) !important;
        background-color: rgb(255, 255, 255) !important;
        outline: none !important;
        margin: 0px !important;
        border-radius: 30px !important;
        color: rgb(34, 34, 34) !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        padding: 10px 16px !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        margin-right: 8px !important;
        margin-top: 4px !important;
        margin-bottom: 4px !important;

        &:hover {
            border-color: #222222 !important;
        }
    }

    .buffer {
        margin-right: 8px !important;
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        font-size: 20px;
        color: #dddddd;
    }
    .btn-expend {
        display: flex;
        place-content: center !important ;
        font-size: 14px !important;
    }
}

.stay-preview {
    .stay-preview-slideshow {
        position: relative;

        .like-stay {
            position: absolute;
            top: 12px;
            right: 12px;
            z-index: 9;

            .wishList {
                color: $redAirbnb;
                -webkit-text-stroke: white;
                -webkit-text-stroke-width: 1px;
                height: 24px;
                width: 24px;
            }
            .unWishList {
                color: #00000080;
                -webkit-text-stroke: white;
                -webkit-text-stroke-width: 1px;
                height: 24px;
                width: 24px;
            }
        }
    }
    .stay-preview-info {
        > * {
            padding-top: 6px;
        }
        .reviews-preview {
            display: flex;
            align-items: center;
            font-size: 14px !important;
            .star-preview {
                margin-right: 4px !important;
                .material-icons {
                    color: $redAirbnb;
                    font-size: 18px;
                }
            }
            .review-avg {
                color: #222222;
            }
            .reviews-total {
                color: #717171;
            }
        }
    }
}

// -----SLIDESHOW - CARUOSEL-----
.preview-slideshow {
    img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.el-carousel__container {
    .el-carousel--horizontal {
        display: block !important;
        width: 362px;
        height: 262.25px;
    }
}

.el-carousel__button {
    height: 6px !important;
    width: 6px !important;
    background-color: white;
    border-radius: 50% !important;
}

.el-carousel__arrow {
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    outline: none !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(34, 34, 34) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 18%) 0px 2px 4px !important;
    width: 32px !important;
    height: 32px !important;
}
