.logo {
    width: 150px;
}

.avatar {
    width: 30px;
}

.nav {
    flex-wrap: nowrap;

    a {
        padding: 10px 15px;
    }
}

.main-header {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    > * {
        grid-column: 2;
    }
}

.user-menu-btn {
    color: #222222;
    padding: 5px 5px 5px 15px;
    border-radius: 200px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid  #DDDDDD;
    line-height: 20px;

    &::before {
        font-family: fas;
        content: '\f0c9';
    }

    img {
        margin-left: 12px;
    }
}