.stay-list-conainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    column-gap: 17px;
}


.preview-slideshow img {
    border-radius: 12px;
    width: 300px;
    height: 200px;
    object-fit: cover;

}


.el-carousel__button{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
}

