.mini-filter {
    line-height: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
    background-color: #FFF;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 40px;
    height: 48px;
    padding: 12.5px 12.5px 12.5px 25px;
    width: 300px;
    font-size: 14px;
    
    &:hover {
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
        transition: box-shadow 0.2s ease 0s;
    }    
    span {
        &:before {
            font-family: fas;
            content: '\f002';
            color: #fff;
            background-color: #FF385C;
            border-radius: 50%;
            height: 32px;
            padding: 10px;
            margin: 7px 1px 5px 0;
        }
    }
}