.notifications-header {
    font-family: airbnb-regular, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.notifications-list {
    width: 60vw;
    margin: 0 auto;
    .notifications-card {
        gap: 50px;
        padding-bottom: 15px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        span {
            align-items: flex-start;
            margin: 0;
            padding: 0;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 400;
            h3 {
                font-size: 0.875rem;
                line-height: 1.125rem;
                margin: 0;
                padding: 0;
            }
            h4 {
                display: block;
                flex: 3 1;
                font-size: .75rem;
                line-height: 1.125rem;
                text-decoration: none;
                margin: 0;
                padding: 0;
                font-weight: unset;
            }
        }
        .notifications-card-txt {
            display: block;
            flex: 3 1;
            font-size: 1rem;
            line-height: 1.125rem;
            margin: 0;
            padding: 0;
            font-weight: unset;
        }
        .trips-link {
            font-size: .75rem;
            line-height: 1.125rem;
            margin: 0;
            padding: 0;
        }
    }
}

.clear-all-btn {
    background-color: rgb(255, 56, 92);
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 15.75px;
    font-weight: 600;
    height: 32px;
    margin: 40px 0 0 0;
    padding: 7px 40px 7px 40px;
    width: 141.297px;
}